.loader-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-list-container {
  list-style-type: none;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #e30b50;
}
.pages-list-container {
  list-style-type: none;
  padding: 20px;
  display: flex;
  align-items: center;
  overflow-y: auto;
}
.custom-button {
  border: none;
  border-radius: 10px;
  height: 37px;
  width: 60px;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  background-color: #f06007;
  color: white;
  margin: 10px;
}
