.page-item {
  margin: 2px;
}
.page-button {
  border: 1px solid black;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  background-color: #98dced;
}
.active-bg {
  background-color: #f06007;
  color: white;
}
