.loader-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-list-container {
  list-style-type: none;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #e30b50;
}
